.section {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    padding: 2rem 1rem;
    &.secondary {
        background-color: $brand-secondary;
    }
}
.block-container {
    width: 80%;
    margin: 0 auto;
}

@media(max-width: 960px) {
    .block-container {
        width: 96%;
        margin: 0 auto;
    }
}
@media(max-width: 360px) {
    .block-container {
        width: 100%;
    }
}
